<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ url_for('static', filename='assets/favicon.png') }}" />
  <script defer type="module" src="https://pyscript.net/snapshots/2023.09.1.RC2/core.js"></script>
  <title>Suricato22</title>
</head>
<style>
  body {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00a1c9;
    font-family: "Roboto", sans-serif;
    padding: 16px;
  }

  /** Estilo moderno e lindo e armico tipo apple */

  h1 {
    font-size: 3rem;
    color: #000;
  }

  p {
    font-size: 1.5rem;
    color: #000;
    text-align: center;
  }
</style>

<body>

  <body>
    <h1>Suricato22</h1>
    <p>Um framework para desenvolvimento de aplicações desktop em Python</p>
    <input type="text" name="english" id="english" placeholder="Coloque um texto" />
    <button py-click="olaMundo">Translate</button>
    <button onclick="console.log('ola')">Console.log</button>
    <div id="output"></div>

    <script type="py" src="{{ url_for('static', filename='cmd.py') }}" config="{{ url_for('static', filename='manifest.json') }}"></script>
    <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
  </body>
</body>

</html>